.login {
  background-color: #333;
  min-height: 100%;
  background: #333 url(./bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  .footer {
    background: #2196f3;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.login__body {
  padding-top: 150px;
  padding-bottom: 150px;
  .bfd-form {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 360px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    background-color: #fff;
    .bfd-form-input {
      display: block;
      margin-right: 0;
    }
    button {
      width: 100%;
    }
  }
}

.login__logo {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  white-space: nowrap;
  color: #fff;
}

.login__toggle {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}